/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}
h1 {
  font-family: "Roboto", sans-serif;
}
.debugger {
  background: red;
}
header span {
  font-size: 20px;
}

/***********Mobile Menu*********/
#mobile-menu {
  display: none;
  position: fixed;
  width: 200px;
  height: 400px;
  transition: 2s;
  background: #8b8585;
  right: -150px;
}
#mobile-menu.active {
  display: block;
  right: 0px;
}
#mobile-menu ul {
  padding: 5px;
}
#mobile-menu ul li {
  list-style: none;
  padding: 10px 10px;
  border-bottom: 1px solid white;
}
#mobile-menu a {
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 600px) {
  #mobile-menu {
    right: 0px;
  }
}

/*******************
    *******Home Page**/

/* * * * * * * * * * * * * * * * * * * * *
    Header
    * * * * * * * * * * * * * * * * * * * * */

header {
  width: 100%;
  height: 66px;
  background: #8b8585;
}

.logo {
  width: 100px;
  color: #ef7547;
  margin-right: auto;
}
.logo span {
  margin-left: 15px;
}
.desktop-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 66px;
  width: 100%;
}

.desktop-menu ul {
  display: flex;
}
.desktop-menu li {
  list-style: none;
}
.desktop-menu a {
  height: 66px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}
.desktop-menu a:hover {
  background: #aaa;
  text-decoration: none;
  color: #777;
}
.hamburger-icon {
  display: none;
  background: transparent;
  border: none;
}

@media (max-width: 1000px) {
  .desktop-menu {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
    Hero
    * * * * * * * * * * * * * * * * * * * * */
.hero {
  color: white;
  padding-top: 80px;
  height: 600px;
  width: 100%;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("../img/ethan-mcarthur-653528-unsplash.jpg");
  background-size: cover;
  background-position: 100% 50%;
}

.hero-content {
  width: 70%;
  max-height: 400px;
}
@media screen and (max-width: 600px) {
  .hero-content p {
    display: none;
  }
}

.hero h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  margin: 0;
  font-weight: 700;
}

.hero hr {
  border-color: white;
}

.hero button {
  color: white;
  border: none;
  background: #ef7547;
  padding: 10px 20px;
}

.hero button:hover {
  cursor: pointer;
  background: #f18a64;
}

@media screen and (max-width: 600px) {
  .hero {
    height: 400px;
  }

  .hero-content {
    width: 100%;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
    Main
    * * * * * * * * * * * * * * * * * * * * */
main {
  padding: 40px 0;
}

/* * * * * * * * * * * * * * * * * * * * *
    Footer
    * * * * * * * * * * * * * * * * * * * * */
footer {
  background: #e3e3e3;
  padding: 10px 20px 30px 80px;
}

footer h2 {
  color: #292525;
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

footer ul {
  margin: 0 0 30px 0;
  padding: 0;
}

footer li {
  list-style: none;
  margin-top: 8px;
}

footer a {
  color: #252424;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 300;
}

.social-icons {
  display: flex;
}

.social-icons li {
  flex: 1;
}

/* 
    About  Page  */
/* 
.main-div {
  display: flex;
}
#about-us-h1 {
  text-align: center;
}
.about-image1 {
  margin: 10px;
  width: 50%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/elizabeth-french-1141445-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}
.about-image2 {
  margin: 10px;
  width: 50%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/mimi-thian-737030-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.about-image3 {
  margin: 10px;
  width: 50%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/rawpixel-558597-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.about-image4 {
  margin: 10px;
  width: 50%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/antoine-barres-198891-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.about-image-description1,
.about-image-description2,
.about-image-description3,
.about-image-description4 {
  margin: 10px;
  width: 50%;
  height: 300px;
  display: flex;
}

@media (max-width: 800px) {
  .image {
    display: none;
  }
  /* .double-angled-icon {
            display: block;
        } */

/********Service page************
    ********************************/

/* .square-right-icon {
  display: none;
  background: transparent;
  border: none;
}
@media (max-width: 600px) {
  .square-right-icon {
    display: block;
  }
}
@media (max-width: 800px) {
  .image {
    display: none;
  }
  .square-right-icon {
    display: block;
  }
}

.hero1-container {
  color: white;
  padding: 20px;
}
.hero1 {
  width: 100%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/jeshoots-com-722888-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}
.hero1-container {
  color: white;
  padding: 20px;
}

.featured-products {
  margin: 5px 0;
  padding: 20px;
}

.featured-products h2 {
  text-align: center;
}

.featured-products .card-wrapper {
  width: 100%;
  display: flex;
}

.featured-products img {
  width: 100%;
  max-width: 300px;
}

.featured-product-card {
  flex: 1;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.featured-product-card p {
  text-align: center;
  color: #161616;
  margin-bottom: 10px;
}

.featured-product-card span {
  text-align: center;
  display: block;
  color: #161616;
  opacity: 0.6;
  font-size: 0.8em;
}
@media (max-width: 650px) {
  .featured-products .card-wrapper {
    flex-direction: column;
  }

  .featured-products h2 {
    font-size: 30px;
  }
}

/**************Career Page****************
    *****************************************/

/* .hero-career {
  width: 100%;
  height: 500px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/hanson-lu-659659-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}
.hero1-container {
  color: white;
  padding: 20px;
}
.hero1 {
  width: 100%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("");
  background-size: cover;
  background-position: center;
  display: flex;
}
.hero-container {
  color: white;
  padding: 50px 50px;
}

.hero1 .hero-container a {
  background: black;
  padding: 10px;
  margin: 10px 5px;
  color: white;
  text-decoration: none;
} */

/* 
    ContactUs  Page  */

.main-div1 {
  display: flex;
}
#contact-us-h1 {
  text-align: center;
}
.about-image-a {
  margin: 10px;
  width: 50%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/melinda-gimpel-699254-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}
.about-image-b {
  margin: 10px;
  width: 50%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/courtney-hedger-336844-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.about-image-c {
  margin: 10px;
  width: 50%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/melinda-gimpel-699254-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.about-image-d {
  margin: 10px;
  width: 50%;
  height: 300px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../img/courtney-hedger-336844-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.about-image-description-a,
.about-image-description-b,
.about-image-description-c,
.about-image-description-d {
  margin: 10px;
  width: 50%;
  height: 300px;
  display: flex;
}

@media (max-width: 800px) {
  .image {
    display: none;
  }
  /* .double-angled-icon {
            display: block;
        } */
}

/*Customer Service Registartion
    ..............................*/

.FORM {
  text-align: center;
}
